.bikerz-zone-light-red{
    background-color: rgb(255,0,0,0.19);
}
/* footer style  */
.u-list{
    list-style-type: none;
}
.u-list a{
    text-decoration: none;

}
.f-style{
    padding: 165px;
}
.u-list-2{

}
